Repository optuna/optuna-integration, pull requests merged in 2023-08, with the labels that each got.

#35 Drop Python 3.7 support
  .github/workflows/tests.yml
Labels: CI

#36 Bump up version number to 3.3.0
  optuna_integration/version.py
Labels: other

#37 Bump up version number to v3.4.0.dev
  optuna_integration/version.py
Labels: other

#39 Update python shield in README.md
  README.md
Labels: other

#32 Move shap
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/tests.yml
  README.md
  docs/source/reference/index.rst
  optuna_integration/shap.py
  pyproject.toml
  tests/importance_tests/test_init.py
  tests/test_shap.py
Labels: code-fix

#40 Replace deprecated mypy option
  setup.cfg
Labels: stale
