Repository optuna/optuna-integration, pull requests merged in 2023-05, with the labels that each got.

#18 Load `sphinxcontrib.jquery` explicitly
  docs/source/conf.py
Labels: document, stale

#17 Add links of documents
  README.md
Labels: document

#20 Fix the build on Read the Docs by following optuna #4659
  .readthedocs.yml
Labels: document

#24 Fix the CI with AllenNLP
  .github/workflows/tests.yml
Labels: CI

#27 Bump up version number to 3.3.0dev
  optuna_integration/version.py
Labels: other
