Repository optuna/optuna-integration, pull requests merged in 2024-04, with the labels that each got.

#106 Pass two arguments to the forward of `ConstrainedMCObjective` to support `botorch=0.10.0`
  optuna_integration/botorch.py
  pyproject.toml
Labels: enhancement, stale

#109 Install `pipdeptree` v2.16.2 to hotfix parse error
  .github/workflows/checks.yml
  .github/workflows/tests-mpi.yml
Labels: CI

#108 Suppress `ExperimentalWarning`s
  tests/importance_tests/test_init.py
  tests/test_botorch.py
  tests/test_catboost.py
  tests/test_dask.py
  tests/test_mlflow.py
  tests/test_shap.py
  tests/test_sklearn.py
  tests/test_tensorboard.py
  tests/test_wandb.py
Labels: test

#111 Align run name strategy between MLflowCallback and track_in_mlflow method
  optuna_integration/mlflow.py
  tests/test_mlflow.py
Labels: code-fix

#114 Delete deprecated three integrations, `skopt`, `catalyst`, and `fastaiv1`
  README.md
  docs/source/reference/index.rst
  optuna_integration/__init__.py
  optuna_integration/catalyst.py
  optuna_integration/fastaiv1.py
  optuna_integration/skopt.py
  pyproject.toml
  tests/test_catalyst.py
Labels: compatibility
