Repository optuna/optuna-integration, pull requests merged in 2024-08, with the labels that each got.

#144 Hotfix the mypy error of `test_pytorch_lightning.py`
  tests/pytorch_lightning/test_pytorch_lightning.py
Labels: CI

#145 Follow-up PR 116: Update the docstring of PyCmaSampler
  optuna_integration/cma/cma.py
Labels: document

#132 Update BoTorch samplers to support new constraints interface
  optuna_integration/botorch/botorch.py
  tests/botorch/test_botorch.py
Labels: stale

#151 Fix E721 errors
  tests/lightgbm/test_optimize.py
  tests/sklearn/test_sklearn.py
Labels: code-fix

#150 Use `__future__.annotations`
  optuna_integration/_imports.py
  optuna_integration/_lightgbm_tuner/sklearn.py
  optuna_integration/allennlp/_dump_best_config.py
  optuna_integration/allennlp/_pruner.py
  optuna_integration/allennlp/_variables.py
  optuna_integration/botorch/botorch.py
  optuna_integration/chainermn/chainermn.py
  optuna_integration/cma/cma.py
  optuna_integration/dask/dask.py
  optuna_integration/fastaiv2/fastaiv2.py
  optuna_integration/mxnet/mxnet.py
  optuna_integration/pytorch_distributed/pytorch_distributed.py
  optuna_integration/pytorch_ignite/pytorch_ignite.py
  optuna_integration/pytorch_lightning/pytorch_lightning.py
  optuna_integration/sklearn/sklearn.py
  optuna_integration/skorch/skorch.py
  optuna_integration/tensorboard/tensorboard.py
  optuna_integration/tensorflow/tensorflow.py
  optuna_integration/tfkeras/tfkeras.py
  optuna_integration/wandb/wandb.py
  optuna_integration/xgboost/xgboost.py
  tests/botorch/test_botorch.py
  tests/catboost/test_catboost.py
  tests/cma/test_cma.py
  tests/dask/test_dask.py
  tests/fastaiv2/test_fastaiv2.py
  tests/lightgbm/test_alias.py
  tests/lightgbm/test_lightgbm.py
  tests/pytorch_ignite/test_pytorch_ignite.py
  tests/skorch/test_skorch.py
  tests/tensorboard/test_tensorboard.py
  tests/tensorflow/test_tensorflow.py
  tests/tfkeras/test_tfkeras.py
  tests/wandb/test_wandb.py
  tests/xgboost/test_xgboost.py
Labels: code-fix

#148 Add missing experimental decorators to the comet integration
  optuna_integration/comet/comet.py
Labels: code-fix

#155 Add Dashboard and OptunaHub links to the document header
  docs/source/_templates/layout.html
Labels: document

#156 Remove duplicated license definition.
  pyproject.toml
Labels: document

#158 Bump up version number to 4.0.0
  optuna_integration/version.py
Labels: other

#159 Bump up version number to 4.1.0.dev
  optuna_integration/version.py
Labels: other
