Repository optuna/optuna-integration, pull requests merged in 2024-02, with the labels that each got.

#84 Migrate MLflow integration
  README.md
  docs/source/reference/index.rst
  optuna_integration/__init__.py
  optuna_integration/mlflow.py
  pyproject.toml
  tests/test_mlflow.py
Labels: feature

#82 Fastai readme fix
  README.md
Labels: code-fix

#89 Fix lightgbmtuner test.
  tests/lightgbm_tuner_tests/test_optimize.py
Labels: bug, CI

#88 Fix README.md.
  README.md
Labels: bug
