Repository optuna/optuna-integration, pull requests merged in 2024-10, with the labels that each got.

#166 Fix for mypy
  optuna_integration/sklearn/sklearn.py
Labels: CI

#168 Fix mlflow integration for CI
  optuna_integration/mlflow/mlflow.py
  tests/mlflow/test_mlflow.py
Labels: CI

#167 Add badges of PyPI and Conda Forge
  README.md
Labels: document

#172 Accept `Mapping` as `param_distributions` in `OptunaSearchCV`
  optuna_integration/sklearn/sklearn.py
Labels: bug

#170 Update CI to support python 3.12
  .github/workflows/checks-and-tests.yml
  .github/workflows/checks_template.yml
  optuna_integration/mxnet/mxnet.py
  optuna_integration/tensorflow/tensorflow.py
  tests/mxnet/__init__.py
  tests/mxnet/test_mxnet.py
  tests/tensorflow/__init__.py
  tests/tensorflow/test_tensorflow.py
Labels: CI

#174 Allow use of `OptunaSearchCV` with `cross_val_predict`.
  optuna_integration/sklearn/sklearn.py
Labels: bug

#175 Update supported Python versions
  README.md
  docs/source/installation.rst
  pyproject.toml
Labels: other
