Repository optuna/optuna-integration, pull requests merged in 2024-05, with the labels that each got.

#116 Remove deprecated `CmaEsSampler` from integration
  docs/source/reference/index.rst
  optuna_integration/__init__.py
  optuna_integration/cma/__init__.py
  optuna_integration/cma/cma.py
  tests/cma/test_cma.py
Labels: stale, compatibility

#119 Log `None` objective trials correctly
  optuna_integration/wandb/wandb.py
  tests/wandb/test_wandb.py
Labels: bug

#122 Ignore `ExperimentalWarning` for `track_in_wandb`
  tests/wandb/test_wandb.py
Labels: code-fix
