Repository optuna/optuna-integration, pull requests merged in 2024-07, with the labels that each got.

#134 Add document page and fix docstring and comments
  docs/source/reference/index.rst
  optuna_integration/__init__.py
  optuna_integration/comet/comet.py
  tests/comet/test_comet.py
Labels: document, code-fix

#135 Add `deprecated` arg for the comet CI job
  .github/workflows/checks-and-tests.yml
Labels: CI

#136 Remove verbosity of `LightGBMTuner`
  optuna_integration/_lightgbm_tuner/_train.py
  optuna_integration/_lightgbm_tuner/optimize.py
  tests/lightgbm/test_optimize.py
Labels: compatibility

#138 Move positional args of LightGBM tuner
  optuna_integration/__init__.py
  optuna_integration/_lightgbm_tuner/_train.py
  optuna_integration/_lightgbm_tuner/optimize.py
  tests/lightgbm/test_optimize.py
Labels: compatibility

#139 Bump up version number to 4.0.0b0
  optuna_integration/version.py
Labels: other
