Repository optuna/optuna-integration, pull requests merged in 2025-06, with the labels that each got.

#236 Bump up version number to 4.4.0
  optuna_integration/version.py
Labels: other

#233 Move `optuna._lightgbm_tuner` module
  optuna_integration/_lightgbm_tuner/__init__.py
  optuna_integration/lightgbm/__init__.py
  optuna_integration/lightgbm/_lightgbm_tuner/__init__.py
  optuna_integration/lightgbm/_lightgbm_tuner/_train.py
  optuna_integration/lightgbm/_lightgbm_tuner/alias.py
  optuna_integration/lightgbm/_lightgbm_tuner/optimize.py
  optuna_integration/lightgbm/_lightgbm_tuner/sklearn.py
  tests/lightgbm/test_alias.py
  tests/lightgbm/test_optimize.py
Labels: enhancement, sprint-20250531

#238 Fix CI
  .github/workflows/checks_template.yml
Labels: CI
